*.pyc
*.db
*~      
.*
*.cpython-36.pyc
*/__pycache__/       
                                       
bin/              
include/            
lib/                                  
local/
venv/
venv*/                                                                        


!.gitignore

media/*

db.sqlite3

*/migrations/

